{% extends 'base.html' %}

{% block content %}
<h1>Alumno</h1>
<hr>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
	<p>
	{{ form.legajo.label }}<br>
	{{ form.legajo(size=32) }}
	{% for error in form.legajo.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
	</p>
	<p>
	{{ form.persona_id.label }}<br>
	{{ form.persona_id(size=32) }}
	{% for error in form.persona_id.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
	</p>
	<p>
	{{ form.fingreso.label }}<br>
	{{ form.fingreso(size=32) }}
	{% for error in form.fingreso.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
	</p>
	<p>
	{{ form.fegreso.label }}<br>
	{{ form.fegreso(size=32) }}
	{% for error in form.fegreso.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
	</p>
	<p>{{ form.submit() }}</p>
</form>
{% endblock %}
