{% extends 'base.html' %}

{% block content %}
<h1>Institucion</h1>
<hr>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
	<p>
	{{ form.nombre.label }}<br>
	{{ form.nombre(size=32) }}
	{% for error in form.nombre.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
	</p>
	<p>
	{{ form.domicilio.label }}<br>
	{{ form.domicilio(size=32) }}
	{% for error in form.domicilio.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
	</p>
	<p>{{ form.submit() }}</p>
</form>
{% endblock %}
