{% extends 'base.html' %}

{% block content %}
<h1>Materia Docente</h1>
<hr>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
	<p>
	{{ form.docente_id.label }}<br>
	{{ form.docente_id(size=32) }}
	{% for error in form.docente_id.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
	</p>
	<p>
	{{ form.materiaplan_id.label }}<br>
	{{ form.materiaplan_id(size=32) }}
	{% for error in form.materiaplan_id.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
	</p>
	<p>{{ form.submit() }}</p>
</form>
{% endblock %}
